<!-- 
  <div class="register-title">
    <h3 class="register" style="text-align: center">Forgot Password</h3>
  </div>
  <div class="container">
  <form
    #forgetPasswordForm="ngForm"
    (ngSubmit)="forgetPasswordUser(forgetPasswordForm)"
  >
    <div class="mb-3">
      <label for="email" class="form-label bg_colorSet">Email</label>
      <input
        required
        type="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        #email="ngModel"
        ngModel
      />

      <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
        Email is not valid
      </div>
    </div>
    <div class="btn-allign">
      <button type="submit" class="btn btn-outline-primary">Next</button>
    </div>
    <div class="loginLink">
      Back to
      <a href="http://localhost:4200/login">Sign in </a>
    </div>
  </form>
</div>
-->
<p>forget password</p>
