.container {
  width: 40%;
  background-color: #add8e6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.register-title {
  background-color: #0d2c41;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px !important;
  width: 40%;
  margin: 0% auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.bg_colorSet {
  color: #000;
  font-weight: bold;
}

.btn-allign {
  text-align: center;
}
.loginLink {
  text-align: center;
}
